@model ChieuThu6.Models.Book

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tieu_De)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tieu_De)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Noi_Dung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noi_Dung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hinh_Anh)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Hinh_Anh)*@
            <img src=" @Html.DisplayFor(model => model.Hinh_Anh)" width="95" title="cover" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
